* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}

a {
    -webkit-tap-highlight-color: transparent !important;

    outline: none !important;
    text-decoration: none;
}

body {
    max-width: 412px;
    max-height: 915px;
    animation: fadeInAnimation ease 2s 1;
    user-select: none;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.h1_title-email {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Syne Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 20px;
    margin-top: 15%;
    margin-bottom: 5px;
}

.change_div {
    position: absolute;
    width: 95%;
    border-radius: 5px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.input-email {
    width: 100%;
    padding: 8px;
    font-size: 15px;
    margin-bottom: 5%;
    border-radius: 5px;
    font-family: 'Syne Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 15px;
}

.changeEmail_btn {
    border-radius: 5px;
    font-family: 'Syne Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 15px;
    padding: 10px;
    opacity: 0.5;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 12%;

}

.menu {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.documents {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    opacity: 0.2;
}

.folder-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.btn-doc {
    border: 0;
    font-family: 'Syne Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 15px;
}

.readerMode {
    display: flex;
    flex-direction: column;
    opacity: 0.2;
}

.book-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.btn-reader {
    border: 0;
    font-family: 'Syne Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 15px;
}

.settings {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    opacity: 1;
}

.btn-settings {
    border: 0;
    font-family: 'Syne Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 15px;
}

.logo {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -65%);
    opacity: 0.2;
}

h2 {
    font-family: 'Syne Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 30px;
}